@charset "utf-8";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-family:"Microsoft yahei", Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace, sans-serif;
}
*, *::before, *::after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
li {
  list-style: none;
}
body {
  color: #333;
  line-height: 1.6;
  font-size: 13px !important;
  background-color: #fff !important;
}
body, span, label, p, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}
a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
  -webkit-user-select: none;
}
a:not([href]):focus {
  outline: 0;
}
img {
  max-width: 100% !important;
  vertical-align: middle;
  border-style: none;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left;
}
input, button, select, optgroup, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
   -webkit-user-select: none;
  border: none;
  border-radius: 0;
  outline: 0;
}
button, input {
  border-radius: 0;
  overflow: visible;
}
input[type="radio"], input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"]:disabled, input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
textarea {
  overflow: auto;
  resize: vertical;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
  -webkit-appearance: none;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: transparent;
	border-radius: 8px;
}
::-webkit-scrollbar:hover {
	background-color: #fff;
}
::-webkit-scrollbar-thumb{
	background: #fff; 
	border-radius: 8px;
	background-clip: content-box;
	border: 2px solid transparent
}
::-webkit-scrollbar-thumb:hover {
	background: #c2c2c2;
	background-clip: content-box;
}
em, h3 {
  font: inherit;
}
i{
  font-style: normal;
}
.c01 {
  color: #4E8EF7;
}
.bgw{
  background-color: #fff !important;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.pl0{
  padding-left: 0 !important;
}
.pb0{
  padding-bottom: 0 !important;
}
/*--------------------header--------------------*/
header{
  height: 48px;
  background-color: #fff;
  border-bottom: 1px solid  #DADDE2;
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}
header .navbar{
  webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
header .header-left{
  width: 312px;
  color: #4EABF9;
}
header .header-left{
  color: #4EABF9;
  padding-left: 10px;
}
header .header-left .logo{
  background-position: 0 0;
  margin-right: 2px;
  cursor: pointer;
}
header .header-left .logo:hover{
  background-position: 0 -32px;
}

header .header-left span{
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}

header .header-left .save{
  background-image: url(../images/default-icons-sprite.png);
  background-position: 0 -96px;
  margin-left: 10px;
  cursor: pointer;
}
header .navbar a:after,
header .navbar a:before,
.icon-h{
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background-image: url(../images/default-icons-sprite.png);
  background-size: 32px;
}
.header60{
  height: 60px;
}
/*navbar*/
header .navbar{
  text-align: center;
  height: 48px;
}
header .navbar a{
  display: inline-block;
  width: 70px;
  height: 48px;
  overflow: hidden;
  position: relative;
}
header .navbar a.active{
  border-bottom: 2px solid #4084F6;
}
header .navbar a:after,
header .navbar a:before{
  position: absolute;
  left: 0;
  content: '';
  margin-top: 8px;
  margin-left: 19px;
  transition: .3s opacity;
}
header .navbar .build:before{
  background-position: 0 -128px;
}
header .navbar .build:after{
  background-position: 0 -160px;
}
header .navbar .preview:before{
  background-position: 0 -192px;
}
header .navbar .preview:after{
  background-position: 0 -224px;
}
header .navbar .build:hover:before,
header .navbar .preview:hover:before{
  opacity: 0;
}
header .navbar .build:after,
header .navbar .preview:after{
  opacity: 0;
}
header .navbar .active:after,
header .navbar .build:hover:after,
header .navbar .preview:hover:after{
  opacity: 1;
}

/*header-right*/
.header-right{
  width: 312px;
  text-align: right;
}
.header-right li{
  display: inline-block;  
  margin: 0 5px;
  cursor: pointer;
}
.header-right li:last-child{
  position: relative;
  width: 50px;
  padding-left: 10px;
}
.header-right li:last-child:after{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 5px;
  left: 0;
  width: 1px;
  height: 32px;
  background-color: #DADDE2;
}
.header-right .theme{
  background-position: 0 -576px;
}
.header-right .theme:hover{
  background-position: 0 -608px;
}
.header-right .export{
  background-position: 0 -256px;
}
.header-right .export:hover{
  background-position: 0 -288px;
}
.header-right .help{
  background-position: 0 -384px;
}
.header-right .help:hover{
  background-position: 0 -416px;
}
.header-right .user{
  background-position: 0 -832px;
}
.header-right .user:hover{
  background-position: 0 -864px;
}
.header-right.linktext a{
  display: inline-block;
  color: #B6BDC5;
  line-height: 30px;
  font-size: 12px;
  vertical-align: -3px
}
.header-right.linktext a:hover{
  color: #4E8EF7;
}
.header-right.linktext li:not(:last-child){
  padding: 0 10px 0 0;
}
/*download page*/
.bg02{
  background-color: #F5F6F9;
}
.download-wrap{
  padding: 100px 50px 50px;
  text-align: center;
}
.download-wrap h1{
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.download-wrap p{
  margin-bottom: 12px;
  line-height: 1.6;
}
.btn-primary{
  min-height: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  padding: 6px 24px ;
  letter-spacing: 0.02em;
  color: #FFF;
  background-color: #4E8EF7;
  border: none;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  cursor: pointer;
}
/*--------------------main--------------------*/
.container{
  display: -webkit-box; 
	display: -webkit-flex;
	display: flex;
  height: -webkit-calc(100% - 48px);
}
.aside-bar{
  width: 312px;
  height: 100%;
}
.content{
  webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
  background-color: #EFF1F5;
  border-left: 1px solid  #ddd;
  border-right: 1px solid  #ddd;
  height: 100%;
}
.property{
/*  width: 312px;*/
  width: 360px;
  height: 100%;
}

/*title*/
h3.title{
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  border-bottom: 1px solid  #E6E6E6;
  color: #222429;
}
h3.title button{
  float: right;
  cursor: pointer;
  padding: 0;
  color: #979797;
  margin-top: 9px;
}

h3.title button i{
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
  margin-bottom: 3px;
  background-image: url(../images/new-page-icon.svg);
  opacity: .6;
}

/*pages*/
.pages{
  border-bottom: 1px solid  #E6E6E6;
}
.pages .page-list{
  height: 220px;
  overflow-y: auto;
}
.pages .page-list ul{
  padding: 5px;
}
.pages .page-list li a{
  display: block;
  padding: 5px 10px;
  border-radius: 2px;
}
.pages .page-list li:hover a{
  background-color: #F0F2F7;
}
.pages .page-list li.active a{
  background-color: #6997F2;
  color: #fff;
}
.pages .page-list li i{
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -4px;
  margin-right: 3px;
  background-image: url(../images/page-component-sprite.png);
  background-position: 0 -912px;
}
.pages .page-list li.active i{
  background-position: 0 -896px;
}
.pages .page-list li.active span.del-page{
  display: inline-block;
}
.pages .page-list li:last-child{
  display: none;
}
.del-page{
  display: none;
  float: right;
  width: 11px;
  height: 13px;
  margin-top: 3px;
  background-image: url(../images/delete-page.png);
  background-size: 11px auto;
}

/*---------------------components-------------------------*/
.component-wrap{
  height: -webkit-calc(100% - 252px);
}
.component{
  padding: 10px 20px 20px;
  height: -webkit-calc(100% - 32px);
  overflow: auto;
}
.property-list::-webkit-scrollbar-thumb,
.iconfont-show::-webkit-scrollbar-thumb,
.page-list:hover::-webkit-scrollbar-thumb,
.component:hover::-webkit-scrollbar-thumb{ /*鼠标滑过，显示滚动条颜色*/
	background: #D8D8D8; 
	background-clip: content-box;
}
.component ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
  flex-wrap: wrap;
}
.component li{
  flex:0 0 -webkit-calc(50% - 10px);
  height: 86px;
  margin: 0 5px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.component li.empty{
  cursor: default;
}
.component li.divider{
  flex:0 0 -webkit-calc(100%);
  height: 20px;
  overflow: hidden;
  position: relative;
  cursor: default;
}
.component li.divider > span{
  width: auto;
  position: relative;
  background-color: #fff;
  z-index: 9;
  padding: 0 5px;
  color: #000 !important;
}
.component li.divider:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px dashed #999;
}
.component li.divider:hover{
  color: #000 !important;
}
.component li:hover{
  color: #4B8FFF;
}
.component li i{
  display: block;
  width: 90px;
  height: 50px;
  position: relative;
}
.component li i:after,
.component li i:before{
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 90px;
  height: 50px;
  background-image: url(../images/components-sprite.png);
  background-size: 90px;
  transition-property: opacity, transform;
  transform: scale3d(1, 1, 1);
  transition-duration: .25s;
  transition-timing-function: linear, cubic-bezier(0.33, 2, 0.66, 1);
}
.component li:hover i:after,
.component li:hover i:before{
  transform: scale3d(1.15, 1.15, 1);
  opacity: 1;
}
.component li i:after{
  opacity: 0
}
/*icon component*/
/*
 *表单
 */
.button:before {
  background-position: center 0px;
}
.button:after {
  background-position: center -50px;
}
.buttonbar:before {
  background-position: center -2800px;
}
.buttonbar:after {
  background-position: center -2850px;
}
.checkbox:before {
  background-position: center -100px;
}
.checkbox:after {
  background-position: center -150px;
}
.radio:before {
  background-position: center -200px;
}
.radio:after {
  background-position: center -250px;
}
.input:before {
  background-position: center -300px;
}
.input:after {
  background-position: center -350px;
}
.htmlcode:before {
  background-position: center -700px;
}
.htmlcode:after {
  background-position: center -750px;
}
.list:before {
  background-position: center -800px;
}
.list:after {
  background-position: center -850px;
}
.textarea:before {
  background-position: center -900px;
}
.textarea:after {
  background-position: center -950px;
}
.switch:before {
  background-position: center -1000px;
}
.switch:after {
  background-position: center -1050px;
}
.select:before {
  background-position: center -1100px;
}
.select:after {
  background-position: center -1150px;
}

/*
 *基础组件
 */
/*panel*/
.panel:before {
  background-position: center -1200px;
}
.panel:after {
  background-position: center -1250px;
}
/*article*/
.article:before {
  background-position: center -1300px;
}
.article:after {
  background-position: center -1350px;
}
/*badge*/
.badge:before {
  background-position: center -1400px;
}
.badge:after {
  background-position: center -1450px;
}
/*flex*/
.flex:before {
  background-position: center -1500px;
}
.flex:after {
  background-position: center -1550px;
}
/*space*/
.space:before {
  background-position: center -1600px;
}
.space:after {
  background-position: center -1650px;
}
/*grid*/
.grid:before {
  background-position: center -1700px;
}
.grid:after {
  background-position: center -1750px;
}
/*icon*/
.icon:before {
  background-position: center -1800px;
}
.icon:after {
  background-position: center -1850px;
}

/*
 *操作反馈
 */
/*actionsheet*/
.actionsheet:before {
  background-position: center -1900px;
}
.actionsheet:after {
  background-position: center -1950px;
}
/*toast*/
.toast:before {
  background-position: center -2000px;
}
.toast:after {
  background-position: center -2050px;
}
/*dialog*/
.dialog:before {
  background-position: center -2100px;
}
.dialog:after {
  background-position: center -2150px;
}
/*message*/
.message:before {
  background-position: center -2200px;
}
.message:after {
  background-position: center -2250px;
}
/*picker*/
.picker:before {
  background-position: center -2300px;
}
.picker:after {
  background-position: center -2350px;
}
/*datePicker*/
.datePicker:before {
  background-position: center -2400px;
}
.datePicker:after {
  background-position: center -2450px;
}

/*
 *导航和搜索
 */
/*navbar*/
.navbar:before {
  background-position: center -2500px;
}
.navbar:after {
  background-position: center -2550px;
}
/*tabbar*/
.tabbar:before {
  background-position: center -2600px;
}
.tabbar:after {
  background-position: center -2650px;
}
/*searchbar*/
.searchbar:before {
  background-position: center -2700px;
}
.searchbar:after {
  background-position: center -2750px;
}
/*swiper*/
.swiperx:before {
  background-position: center -2900px;
}
.swiperx:after {
  background-position: center -2950px;
}
/*avatar*/
.avatar:before {
  background-position: center -3000px;
}
.avatar:after {
  background-position: center -3050px;
}
/*flextext*/
.flextext:before {
  background-position: center -3100px;
}
.flextext:after {
  background-position: center -3150px;
}
/*alert*/
.alert:before {
  background-position: center -3200px;
}
.alert:after {
  background-position: center -3250px;
}
/*img*/
.image:before {
  background-position: center -3300px;
}
.image:after {
  background-position: center -3350px;
}


/*---------------------proerty/panel----------------------*/
.path label,
.path a{
  color: #c0c2c7;
}
.path a:hover{
  color: #4B8FFF;
}
.property-list{
  height: -webkit-calc(100% - 32px);
  overflow-x: auto;
}
.pro-item{
  border-bottom: 1px solid  #E9EBED;
  padding: 0 10px 5px;
}
.pro-item h3{
  color: #3a7ef5;
  line-height: 32px;
  font-size: 14px;
  cursor: pointer;
}
.pro-item h3 .caret{
  float: right;
  display: inline-block;
  margin-right: 0;
  margin-top: 12px;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid #222429;
  vertical-align: middle;
  height: 0;
  width: 0;
  transition: .2s transform;
  transform-origin: left;
  transform: rotate3d(0, 0, 1, 90deg);
}
.pro-item.category-toggle h3 .caret{
  transform: rotate3d(0, 0, 1, 0deg);
}
.pro-item .pro-box{
  display: block;
  max-height: 900px;
  overflow: visible;
  position: relative;
}
.pro-item.category-toggle .pro-box{
  max-height: 0;
  opacity: 0;
  padding: 0;
  overflow: auto;
  transition: .2s max-height ease-in-out, .2s opacity;
}
/*form*/
.form-group{
  height: 44px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
}
.form-group label{
  display: inline-block;
  width: 80px;
  padding: 6px 0;
  color: #a8aeb7;
  font-size: 12px;
}
.form-group div{
  webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
  position: relative;
}
.form-group .c-texta,
.form-group .c-ipt{
  font-size: 12px;
  width: 100%;
  height: 32px;
  padding: 0 6px;
  border: 1px solid #dde1e8 !important;
  box-shadow: none;
  border-radius: 2px;
  color: #555;
}
.form-group .c-ipt:disabled{
  background-color: #f6f6f6;
  color: #aaa;
}
.form-group .c-texta{
  height: auto;
  min-height: 80px;
  padding-top: 6px;
}
.form-group.h-auto{
  height: auto;
}
.form-group .select{
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  border: 1px solid #dde1e8 !important;
  border-radius: 2px;
  -webkit-appearance: none;
  background-image: url(../images/select-caret.png);
  padding: 0 10px 0 10px;
  background-origin: content-box;
  background-position: right center;
  color: #555;
  z-index: 0
}
.form-group .select.md{
  width: 80px;
}
.form-group .select.color-choose{
  padding:0 3px 7px 3px;
  font-size: 16px;
  background-image: none;
}
.form-group .group-collapse{
  display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
}
.sub-group{
  position: relative;
  padding-left: 16px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.sub-group:before{
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  width: 14px;
  line-height: 14px;
  font-size: 8px;
  background-color: #6795f5;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-family: Times New Roman
}
.sub-group:nth-child(2):before{
  content: '1';
}
.sub-group:nth-child(3):before{
  content: '2';
}
.sub-group:nth-child(4):before{
  content: '3';
}
.sub-group:nth-child(5):before{
  content: '4';
}
.sub-group:after{
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 0;
  height: 1px;
  overflow: hidden;
  border: 1px dashed #ddd;
}
/*html editor*/
.codeMirror{
  width: 100%;
  height: 280px;
  margin: 0;
  padding: 5px 5px 5px 39px;
  border: none;
  background:#242424;
  color: #84F0FF;
  outline: 0;
  background-image: url(../images/linenums.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment:local;
  font-size: 14px;
  font-family:Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
  line-height: 18px;
  letter-spacing: 0;
  overflow: auto;
  /*white-space:nowrap; //不能加这个属性，否则空格会被解析为&nbsp; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: .28;
  resize: none;
}
.codeMask{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: -1;
  color: #ff9c00;
}
.theme-detail::-webkit-scrollbar-thumb,
.codeMirror::-webkit-scrollbar-thumb{
  background-color: #c2c2c2;
}
.attention{
  font-size: 12px;
  color: #888;
}
.opa1{
  opacity: 1 !important;
}

/*fullscreen*/
.fullscreen{
  position: absolute;
  bottom: 27px;
  right: 7px;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  cursor: pointer;
  background-position: 0 -613px;
  background-size: 28px auto !important;
}
.fs-cnt{
  webkit-box-flex: initial;
	-webkit-flex: initial;
	flex: initial;
  width: 500px !important;
}
.fs-prop{
  webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
  width: auto;
}
.fs-reset{
  background-position: 0 -785px;
  background-size: 28px auto !important;
}

/*switch*/
.ct-switch {
  position: relative;
  width: 38px;
  height: 18px;
  border: 1px solid #DFDFDF;
  outline: 0;
  border-radius: 10px;
  background-color: #DFDFDF;
  transition: background-color .1s, border .1s; }
.ct-switch:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 16px;
  border-radius: 10px;
  background-color: #FDFDFD;
  transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
}
.ct-switch:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
}
.ct-switch:checked {
  border-color: #6795f5;
  background-color: #6795f5;
}
.ct-switch:checked:before {
  transform: scale(0); 
}
.ct-switch:checked:after {
  transform: translateX(20px); 
}


/*---------------canvas/simulator-----------------*/
/*device bar*/
.device-bar{
  height: 32px;
  padding: 6px 10px 0;
  background-color: #fff;
  border-bottom: 1px solid  #E6E6E6;
  color: #222429;
}
.choose-device{
  float: left;
}
.zoom-device{
  float: right;
}
.dropdown{
  display: inline-block;  
  margin-left: 8px;
}
.dropdown a:after{
  content: '';    
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown a{
  color: #979797;
}
.dropdown a:hover{
  color: #4B8FFF;
}
.zoom-dropdown a{
  color: #000;
}
/*orientation*/
.orientation{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: -5px;
  margin-right: -10px;
  position: relative;
  cursor: pointer;
}
.orientation:before,
.orientation:after{
  display: inline-block;
  background: no-repeat center top url("../images/rotate-orientation-icon.png");
  background-size: 12px;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  transition: .25s opacity;
}
.orientation:after{
  background-position: center bottom;
  opacity: 0;
}
.orientation:hover:after{
  opacity: 1;
}
/*simulator*/
.simulator-wrap{
  height: -webkit-calc( 100% - 32px);
  overflow: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
}
.simulator{
  margin-bottom: 100px;
  background-color: #fff;
  border: 1px solid #efefef;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  height: 100%;
  transition: all .2s  linear;
}
.app-status{
  height: 20px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1px;
  position: relative;
  overflow: hidden;
  fill:#fff;
}
.app-status span{
  position: absolute;
  display: block;
  top: 0;
  left: 6px;
}

.app-status span:before,
.app-status span i:nth-child(1):before,
.app-status span i:nth-child(1):after{
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #fff;
  margin: 0 1px;
  border-radius: 50%;
}
.app-status span i:nth-child(2):before,
.app-status span i:nth-child(2):after{
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border: 1px solid #fff;
  margin: 0 1px;
  border-radius: 50%;
}
.app-status em{
  position: absolute;
  top: 0;
  right: 6px;
}
.app-status em:before{
  content: '88% ';
  display: inline-block;
  margin-right: 5px;
}
.app-status em i{
  position: relative;  
}
.app-status em i:before{
  content: '';
  display: inline-block;
  height: 10px;
  width: 23px;
  border: 1px solid #fff;
  border-radius: 2px;
}
.app-status em i:after{
  position: absolute;
  top: 5px;
  left: 2px;
  content: '';
  display: block;
  height: 6px;
  width: 13px;
  background-color: #fff;
  border-radius: 1px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.app-status em:after{
  position: absolute;
  content: '';
  top: 8px;
  right: -3px;
  width: 2px;
  height: 4px;
  background-color: #fff;
  border-radius: 1.5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


#form-cvs{
  height: 100%;
}
/*canvas*/
.canvas{
  height: 100%;
}
.canvas .sm-container::-webkit-scrollbar{ /*set scrollbar width 0 to hide it*/
	width: 0 !important;
	height: 0 !important;
}
.isHd{ 
  height: -webkit-calc(100% - 44px) !important;
}
.isTb{ 
  height: -webkit-calc(100% - 44px) !important;
}
.isHdTb{ 
  height: -webkit-calc(100% - 88px) !important;
}

/*-------------------------component of creator-------------------------*/
/*dropdown-menu*/
.dropdown{
  position: relative;
  z-index: 999;
}
.open .dropdown-menu {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  display: block;
  top: 90%;
  transition: opacity 0.25s, transform 0.25s cubic-bezier(0.36, 0.66, 0.04, 1);
}
.dropdown-menu {
  position: absolute;
  top: -5000px;
  left: 0;
  z-index: 1000;
  opacity: 0;
  display: block;
  overflow: hidden;
  min-width: 160px;
  padding: 8px 0;
  margin: 8px 0 0;
  background-color: #fff;
  border-radius: 2px;
  transform: translate3d(0, -10px, 0);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.175);
  transition: opacity 0.25s, transform 0.25s cubic-bezier(0.36, 0.66, 0.04, 1), top 0.25s step-end;
}
.dropdown-menu > li{
  display: block;
  padding: 3px 20px;
  cursor: pointer;
}
.dropdown-menu > li:hover{
  background-color: #f5f5f5;
}
.mask-c{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0);
	display: none;
}

/*---------------------select box---------------------*/
.select-box{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 42px;  
  color: #4a87ee;
  border: 1px solid #4a87ee;
  border-radius: 3px;
  background-color: rgba(105, 151, 242, 0.3);
  z-index: 999;
  display: none;
}
.select-box span,
.select-box i{
  position: absolute;
  top: -11px;
  right: 28px;
  display: block;
  font-size: 17px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #4a87ee;
  background-color: #fff;
  transition: all .2s;
  font-family:Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
}
.select-box span:hover,
.select-box i:hover{
  cursor: pointer;
  color: #fff;
  background-color: rgb(105, 151, 242);
}
.select-box span{
  right: 5px;
}
.select-box span:before{
  position: absolute;
  top: 5px;
  left: 3px;
  content: '';
  display: block;
  width: 13px;
  height: 8px;
  border: 1px solid #4a87ee;
  border-radius: 100%;
  transition: all .2s
}
.select-box span:after{
  position: absolute;
  top: 6px;
  left: 7px;
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border: 1px solid  #4a87ee;
  border-radius: 50%;
  transition: all .2s
}
.select-box span:hover:before{
  border: 1px solid #fff;
  top: 8px;
  height: 3px;
}
.select-box span:hover:after{
  top: 8px;
  left: 9px;
  border: none;
  width: 3px;
  height: 3px;
  background-color: #fff;
}


/*---------------------modal---------------------*/
.modal {
	position: fixed;
	z-index: 9999;
  width: 1000px;
	height: 640px;
	top: -9999px;
	left: 50%;
  margin-left: -500px;
  margin-top: -320px;
	background-color: #F6F7F8;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s, -webkit-transform 0.4s cubic-bezier(0.155, 1.105, 0.295, 1.12), top 0s 0.2s;
}
.modal.in{
  top:50%;
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transition: opacity 0.2s, -webkit-transform 0.4s cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.modal-mask {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
  background-color: #0f1e37;
  opacity: 0;
	z-index: 9;
  overflow: hidden;
  height: 0;
  transition: opacity .3s, height 0.0s 1s; /*退出动画：高度延迟1s后播放*/
}
.modal-mask.in{
  opacity: .5;
  height: 100%;
  transition: opacity 0.2s;
}
.modal .modal-header{
  height: 89px;
  background-color: #fff;
  padding: 38px 40px 20px 40px;
}
.modal .modal-header h3{
  background-color: #fff;
  font-size: 28px;
}
.modal .modal-header h3 span{
  color: #999;
  font-size: 12px;
}
.modal .icon-modal-close{
  width: 16px;
  height: 16px;
  position: absolute;
  right: 43px;
  top: 46px;
  cursor: pointer;
}
.modal .icon-modal-close:before,
.modal .icon-modal-close:after {
  background-image: url(../images/small-icons-sprite.png);
  background-position: 0 0;
  background-size: 16px;
  position: absolute;
  height: 16px;
  width: 16px;
  content: '';
}
.modal .icon-modal-close:after {
  opacity: 0;
  background-position: 0 -16px;
  transition: 0.2s opacity;
}
.modal .icon-modal-close:hover:after {
  opacity: 1;
}
.modal .modal-body {
  background: #f6f7f8;
}
.modal .modal-tabs{
  height: 40px;
  background-color: #fff;
  padding: 0 40px;
  border-bottom: 2px solid  #EEEFF2;
}
.modal .modal-tabs li{
  display: inline-block;
  line-height: 40px;
  text-align: center;
  padding: 0 2px;
  margin-right: 55px;
  color: #a8aeb7;
  position: relative;
  cursor: pointer;
}
.modal .modal-tabs li.active{
  color: #3a7ef5;
}
.modal .modal-tabs li.active:after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  overflow: hidden;
  background-color:#C5D6F2;
}
.modal .modal-tabs li i{
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}
.modal .modal-tabs li i.icon-theme{
  background-image: url(../images/small-icons-sprite.png);
  background-position: 0 -336px;
  background-size: 16px;
}
.modal .modal-content{
  padding: 40px;
}
.modal .modal-footer{
  clear: both;
  min-height: 66px;
  padding: 20px 0 20px 0;
}
.modal .modal-footer .btn-danger,
.modal .modal-footer .btn-ok,
.modal .modal-footer .btn{
  min-height: 40px;
  min-width: 100px;
  padding: 0 20px;
  background-color: #fff;
  color: #374155;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.1) !important;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 18px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.04em !important;
}
.modal .modal-footer .btn-ok{
  background-color: #4F91FC;
  color: #fff;
}
.modal .modal-footer .btn:hover{
  
}
.modal .modal-footer .btn-ok:hover{
  background-color: #397EEC;
}
.modal .modal-footer .btn-restore{
  color: #3a7ef5;
  cursor: pointer;
}
.modal .modal-footer .btn-danger{
  color: #D9534F;
  background-color: #FFF;
  border: 1px solid #D9534F;
  transition: 0.05s linear;
  -webkit-transition: 0.05s linear;
  font-size: 14px !important;
  border-radius: 4px !important;
  padding: 6px 24px !important;
}
.modal .modal-footer .btn-danger:hover{
  background-color: #D2322D;
  color: #fff;
}
/*modal page*/
.modal-page{
  width: 518px;
  height: 240px;
  margin-left: -259px;
  margin-top: -120px;
}
.modal-page .modal-footer,
.modal-page .modal-body{
  background-color: #fff;
  padding: 10px 40px 40px 40px;
}


/*theme box*/
.theme-box{
  overflow: hidden;
}
.theme-box .theme-list{
  float: left;
  width: 208px;
  padding-right: 10px;
  font-size: 13px;
}
.theme-box .theme-list li{
  padding: 5px 0;
  color: #9299A9;
  cursor: pointer;
}
.theme-box .theme-list li.active,
.theme-box .theme-list li:hover{
  color: #3a7ef5;
}
.theme-box .theme-detail-wrap{
  float: right;
  width: 711px;
}
.theme-box .theme-detail{
  position: relative;
  padding: 12px 30px 30px;
  height: 370px;
  background-color: #fff;
  overflow: auto;
  border: 1px solid  #e2e2e2;
  border-radius: 5px;
}
.theme-box .theme-detail dl{
  padding: 10px 0 3px;
  border-bottom: 1px solid  #f0f0f0;
  overflow: hidden;
}
.theme-box .theme-detail dt{
  float: left;
  font-size: 14px;
  line-height: 32px;
}
.theme-box .theme-detail dt em{
  display: block;
  color:#ADADAD;
  font-size: 12px;
  margin-top: -15px;
}
.theme-box .theme-detail dd{
  position: relative;
  float: right;
  width: 202px;
}
.theme-box .theme-detail input:not(.color){
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 12px;
  height: 32px;
  padding: 6px 12px;
  border-color: #dadde2;
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(200, 200, 200, 0.3) inset;
  display: block;
  width: 100%;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.theme-box .theme-detail input:not(.color):focus {
  border-color: #4d84f1;
}
.theme-box .theme-detail .theme-thumbnail{
  white-space: nowrap
}
.theme-box .theme-detail .theme-thumbnail img{
  display: inline-block;
  margin-right: 10px;
}
/*tinycolorpicker*/
.color{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 22px;
  height: 22px;
  text-indent: -999px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  outline: 0;
}
.cp-color-picker{
  z-index: 999999999999;
}

/*show all iconfont icon*/
.iconfont-show{
  padding: 10px 0 10px 30px;
  font-family:"iconfont" !important;
  font-size:36px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
/*  -webkit-text-stroke-width: 0.2px;*/
  color: #6795f5;
  overflow: auto;
  height: 550px;
}
.iconfont-show i{
  display: inline-block;
  width: 100px;
  line-height: 100px;
  text-align: center; 
  position: relative;
}
.iconfont-show i:hover:after{
  content: '';
  display: block;
  position: absolute;
  text-align: center;
  line-height: 100px;
  color: #0ff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,12,39,0.6);
  border-radius: 8px;
  cursor: pointer;
  background-image: url(../images/icon-check.png);
  background-position: center center;
  background-size: 64px;
}

/*tabbar choose icon*/
.choose-icon i{
  position: absolute;
  top: 1px;
  left: 3px;
  width: 25px;
  font-size: 20px;
  color: #6795f5;
}
.choose-icon input[type="text"]{
  padding: 0 25px;
}
.choose-icon button{
  position: absolute;
  top: 3px;
  right: 7px;
  width: 23px;
  height: 28px;
  background-image: url(../images/small-icons-sprite.png);
  background-position: 5px -672px;
  background-size: 16px;
  cursor: pointer;
}
.choose-icon.sm input[type="text"]{
  padding: 0 5px;
}
.choose-icon.sm button{
  right: 1px;
}

.remark a,
.remark{
  color: #ADADAD
}

/*preview*/
[v-cloak]{
  display: none !important;
}
.preview-pop{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
}
.preview-pop .pv-mask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-radial-gradient(center, ellipse cover, black 0%, rgba(36, 36, 36, 0.92) 100%);
}
.preview-pop .pv-frame{
  position: absolute;
  top:10%;
  left: 50%;
	-webkit-transform: translate(-50%, 0);
  width: 375px;
  height: 667px;
  padding-top: 20px;
  background-color: #F7F7F9;
  z-index: 999;
}
.preview-pop .pv-frame .app-status{
  position: absolute;
  top: 0;
}
.preview-pop .pv-qr{
  position: absolute;
  bottom:6%;
  right: 3%;
  width: 100px;
  height: 100px;
  background-image: url(../images/qr.png);
  z-index: 9999999
}
.preview-pop .pv-qr:after{
  content: '手机预览';
  position: absolute;
  top: 102%;
  left: 20%;
  color: #fff;
  font-size: 14px;
} 
.preview-pop .paging-wrap{
  position: absolute;
  width: 320px;
  height: 100px;
  bottom: -100px;
  left: 50%;
  margin-left: -160px;
}
.preview-pop .paging {
  width: 100px;
  height: 32px;
  margin: 60px auto 0;
}
.preview-pop .paging span{
  cursor: pointer;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../images/small-icons-sprite.png);
}
.preview-pop .paging span.prev{
  float: left;
  background-position: 0 -1440px;
}
.preview-pop .paging span.next{
  float: right;
  background-position: 0 -1408px
}
.preview-pop .pv-close{
  display: block;
  cursor: pointer;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 30px;
  right: 30px;
  background-image: url(../images/small-icons-sprite.png);
  background-position: 0 0;
  z-index: 999999;
}
/*预览窗口手机外壳*/
.phone-shell{
  position: absolute;
  top: -40px;
  left: -10px;
  border: 1px solid  rgba(238,238,238,.5);
  width: 395px;
  height: 752px;
  border-radius: 32px;
  z-index: -1
}
.phone-shell:before{
  content: '';
  display: block;
  position: absolute;
  top: 38px;
  left: 8px;
  border: 1px solid rgba(238,238,238,.3);
  width: 376px;
  height: 668px;
}
.phone-shell:after{  
  content: '';
  display: block;
  position: absolute;
  top: 712px;
  left: 180px;
  border: 1px solid rgba(238,238,238,.3);
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.phone-shell i:before{  
  content: '';
  position: absolute;
  display: block;
  top: 15px;
  left: 160px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid rgba(238,238,238,.3);
}
.phone-shell i:after{ 
  content: '';
  position: absolute;
  display: block;
  top: 16px;
  left: 176px;
  width: 63px;
  height: 7px;
  border-radius: 3px;
  border: 1px solid rgba(238,238,238,.3);
}
.icon-cell-up,
.icon-cell-down,
.icon-cell-up.moveDis,
.icon-cell-down.moveDis,
.icon-cell-del{
  display: block;
  margin-left: 2px;
  background-image: url(../images/small-icons-sprite.png);
  background-position: 0 -736px;
  background-size: 16px;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.icon-cell-up{
  background-position: 0 -768px;
}
.icon-cell-up.moveDis{
  cursor: not-allowed;
  background-position: 0 -800px;
}
.icon-cell-down{
  background-position: 0 -784px;
}
.icon-cell-down.moveDis{
  cursor: not-allowed;
  background-position: 0 -816px;
}
.icon-cell-add{
  color: #3a7ef5;
  cursor: pointer;
}
.icon-cell-add:before{
  content: '';
  display: inline-block;
  vertical-align: -3px;
  margin-right: 3px;
  background-image: url(../images/small-icons-sprite.png);
  background-position: 0 -752px;
  background-size: 16px;
  height: 16px;
  width: 16px;
  cursor: pointer;
}

/*按钮组组件--按钮位置移动动画*/
.list-complete-item {
  transition: all .5s;
}
/*添加删除动画*/
.list-complete-enter, .list-complete-leave-to{
  opacity: 0;
  transform: translateX(30px);
}

/*输入框数值加减*/
.spinner{
  position: relative;
  z-index: 999;
}
.spinner em{
  position: absolute;
  top: 6px;
  right: 10px;
  display: block;
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid rgba(0, 0, 0, 0);
  height: 0;
  width: 0;
  cursor: pointer
}
.spinner em.increment{
  border-bottom: 4px solid rgb(179, 179, 179);
}
.spinner em.decrement{
  top: 18px;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid rgb(179, 179, 179);
}
.spinner em.increment:hover{
  border-bottom: 4px solid rgb(102, 102, 102);
}
.spinner em.decrement:hover{
  border-top: 4px solid rgb(102, 102, 102);
}
/*百分号*/
.percent:after{
  content: '%';
  position: absolute;
  left: 25px;
  top: 7px;
  color: #666;
  font-size: 10px;
}










