/**
 * override smui
 * 在creator中能正常显示，但样式不保存到zip中
 */


.sm-header{
  position: relative;
}
/*sm-tabbar:修改position:static*/
.sm-tabbar{
	position: relative;
}
.sm-tabbar span{
	font-size: 12px;
}
.sm-tabbar a i{
	width: 22px;
	height: 22px;
	font-size: 22px;
  margin-bottom: 2px;
}
.sm-tabbar:after{
	position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.0);
}
/*sm-container:修改滚动属性，是tabbar能固定底部*/
.sm-container{ 
  position: relative;
  height: 100%;
  overflow: scroll; 
}
.sm-container.isTb{
  padding-bottom: 0;
}
.sm-container.isHd{
  padding-top: 0;
}
/*sm-btn:修改尺寸，在creator按比例缩小*/
.sm-btn{
  font-size: 14px;
}
/*定位 覆盖fixed*/
.sm-toast:after,
.sm-toast,
.sm-mask,
.sm-actionSheet{
	position: absolute;
}
/*弹出层显示隐藏覆盖*/
.sm-toast.toggle,
.sm-mask.toggle{
	display: block !important;
}

/*Tabbar*/

